.background {
    background-color: black;
}

.title {
    color: red;
}

.underTitle {
    color: deeppink;
    text-decoration: underline;
    border: thin solid white;
    width: 50%;
    height: 50px;
}

.ok {
    color: beige;
}

.bore {
    text-decoration: underline;
}

.to {
    text-align: center;
}

.death {
    text-align: center;
}